<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @movie.image.url(:medium) %>

          <div class="table-responsive">
            <table class="table">
              <tbody>
<br>
              <tr>
                <td><strong>Rating:</strong></td>
                <td><div class="star-rating" data-score= <%= @avg_review %> ></div>
                <em><%= "out of #{@reviews.length} review(s)" %></em></td>
                </tr>

                <tr>
                  <td><strong>Title:</strong></td>
                  <td><%= @movie.title %></td>
                </tr>
                <tr>

                </tr>
                <tr>
                  <td><strong>Movie length:</strong></td>
                  <td><%= @movie.movie_length %></td>
                </tr>
                <tr>
                    <td><strong>Director:</strong></td>
                    <td><%= @movie.director %></td>
                </tr>
                <tr>
                    <td><strong>Rating:</strong></td>
                    <td><%= @movie.rating %></td>
                </tr>
                <tr>
                  <td><strong>Posted by:</strong></td>
                  <td><%= @movie.user.email %></td>


                </tr>
              </tbody>

            </table>
            <%= link_to "Write a Review", new_movie_review_path(@movie) %>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="review_title"><%= @movie.title %></h1>
        <p>- <%= @movie.description %></p>

        <% if @reviews.blank? %>
          <h3>No Reviews have been added yet... </h3>
            <%= link_to "Write a Review", new_movie_review_path(@movie), class: "btn btn-danger" %>
        <% else %>
          <br>
          <br>
          <br>
            <% @reviews.each do |review| %>
              <div class="reviews">
                <div class="star-rating" data-score= <%= review.rating %>>  </div> 
                
                <p><strong>
                  <% if review.user == current_user %>
                      <strong><%= link_to "You said:", edit_user_registration_path %></strong><br><%= review.comment %><p>
                  <% else %>
                    <strong><%= review.user.email %> said: </strong><br><%= review.comment %></p>
                  <% end %>
              </div>

              <% end %>
              <br>
                          <%= link_to "Write a Review", new_movie_review_path(@movie), class: "btn btn-danger" %>

        <% end %>      

      </div>
    </div>
  </div>
</div>



<p id="notice"><%= notice %></p>
<button class="btn btn-default btn-sm">
<%= link_to 'Edit', edit_movie_path(@movie) %></button>|
<button class="btn btn-default btn-sm" >
<%= link_to 'Back', movies_path %> </button>
<br>
<br>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
        return $(this).attr('data-score');
    }

  });
</script>